
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#title{
    background-color: #116466 ;
    color: #d1e8e2;

}

.container-fluid{
padding:3% 15%;

}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.2;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-weight:bolder;
    line-height: 1.2;
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #555c5a;
}

p{
    color:#8f8f8f;
}

/* navbar navigation */

.navbar{
    padding: 0 0 4.5rem;
   
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
}
.nav-item{
    padding:0 6px;
}

.nav-link{
    font-size: 1.2rem;
}


/* download buttons */

.download-button{
    margin:5% 3% 5% 0;
}
/* Title-image */
.title-image{
    width:100%;
    /* transform: rotate(0deg); */
     
}

/* Features Sections */
#features {
padding:7% 15%;

}
.features-box{
    text-align:center;
    padding:3%;
}

.icon {
    color: #8db4aa;
    margin-bottom: 1rem;
}
.icon:hover{
   color: #5f998b;
}
.features-h3{
    margin-bottom:2.5rem;
}

/* Slideshow of image Gallery  */

#Image-slide{
    padding: 7% 15%;
    text-align:center;
     color: #d1e8e2;
     background-color: #116466;

}

.slide-image{
    margin-bottom: 1rem;
}


/* Contact us */

#contact-us{
    background-color: #fff;
   color: #555c5a;
   padding:7% 15%;
   text-align: center;
}



/* Table css */
table{
   color:whitesmoke;
   font-size: 1.1rem;
}

#know-more{
    padding: 7% 15%;
     
}

a {
    text-decoration:none;
    color:whitesmoke;
}
a:hover{
    text-decoration: none;
    color:whitesmoke;
}